
<div class="card mt-3">
  <div class="card-header d-flex align-items-center">
      <i class="material-icons me-2">menu</i>
      <span>Menu</span>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <a routerLink="/admin" class="d-flex align-items-center">
              <i class="material-icons me-2">home</i> Home
          </a>
      </li>
      <li class="list-group-item">
          <a routerLink="/admin/profile" class="d-flex align-items-center">
              <i class="material-icons me-2">account_circle</i> Profile
          </a>
      </li>
      <li class="list-group-item">
          <a routerLink="/admin/categories" class="d-flex align-items-center">
              <i class="material-icons me-2">add_shopping_cart</i> Categories
          </a>
      </li>
      <li class="list-group-item">
          <a routerLink="/admin/add-category" class="d-flex align-items-center">
              <i class="material-icons me-2">library_books</i> Add Category
          </a>
      </li>
      <li class="list-group-item">
          <a routerLink="/admin/quiz" class="d-flex align-items-center">
              <i class="material-icons me-2">quiz</i>Quizes
          </a>
      </li>
      <li class="list-group-item">
          <a routerLink="/admin/add-quiz" class="d-flex align-items-center">
              <i class="material-icons me-2">quiz</i> Add Quiz
          </a>
      </li>
      <li class="list-group-item">
          <a routerLink="/admin/logout" class="d-flex align-items-center">
              <i class="material-icons me-2">logout</i> Logout
          </a>
      </li>
  </ul>
</div>
